[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/SarinXo/eureka-server
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/SarinXo/api-gateway
[submodule "user-service"]
	path = user-service
	url = https://github.com/SarinXo/user-service
[submodule "config-service"]
	path = config-service
	url = https://github.com/SarinXo/config-service
[submodule "admin-service"]
	path = admin-service
	url = https://github.com/SarinXo/admin-service
